form {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    .container-form {
        max-width: 50rem;
        margin: 2rem auto 2rem;
        width: 100%;
        position: relative;
        padding: 2rem 0;
    
        &__cancel {
            display: inline-flex;
            top: -2rem;
            position: absolute;
            align-items: center;
            gap: 0.3rem;
            color: #363636;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
              
        }
    
        &__title {
            font-size: 1.7rem;
            font-weight: 900;
            margin-bottom: 1rem;
            text-align: center;
            padding: 1.5rem 1rem;
            border-bottom: 1px solid #dbdbdb;
        }
        
        &__body {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 1rem;
            padding: 0 2rem;
        }
        
        &__actions {
            display: flex;
            justify-content: space-around;
        }
    }
}